@media screen and (max-width: 1280px) {
  header a .logo {
    width: 13vw;
    height: 3.76vw;
    right: 0;
  }

  header nav {
    left: 0;
  }

  header nav ul li a {
    font-size: 14px;
  }

  header .navbar-cta {
    position: relative;
    left: 0;
    font-size: 15px;
  }

  .hero {
    height: 40vw;
    background-size: cover;
    background-size: 100%;
  }

  .hero .profile-content img {
    left: 25.41px;
    top: 35.56px;
    width: 30vw;
    height: 30vw;
  }

  .main-content p small {
    font-size: 12px;
  }

  .main-content span {
    font-size: 17px;
  }

  .main-content .hero-title {
    font-size: 54px;
  }

  .main-content p {
    margin-bottom: 7px;
  }

  .main-content .hero-cta,
  .main-content .resume {
    font-size: 14px;
  }

  .main-content .call-to-action {
    gap: 33.5px;
    margin-top: 27px;
    margin-left: 23px;
  }

  .hero .social-media a img {
    height: 22px;
    width: 22px;
  }

  .hero .social-media {
    gap: 24px;
  }

  section .title {
    font-size: 27px;
    margin-bottom: 70px;
  }

  .skills {
    height: 53.81vw;
  }

  .skills .skills-grid {
    height: 333px;
  }

  .skills-grid > div {
    width: 25vw;
    height: 33.95vw;
    border-top-left-radius: 3.6vw;
    border-bottom-right-radius: 3.6vw;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    padding: 2.368vw;
  }

  .front-end .skill-icon .icon {
    height: 47px;
    width: 32px;
  }

  .back-end .skill-icon img,
  .database .skill-icon img {
    height: 33.5px;
    width: 33.5px;
  }

  .skills-grid > div > .skill-icon {
    width: 50px;
    height: 50px;
  }

  .skills-grid > div .subtitle {
    font-size: 18px;
    letter-spacing: 1px;
    margin: 15px;
  }

  .skills-grid > div .languages p {
    margin: 15px 0;
    font-size: 14px;
    right: 30px;
  }

  .what-i-do {
    height: 60.65vw;
  }

  .wid-grid > div {
    width: 30vw;
    height: 33.95vw;
    border-radius: 2.625vw;
  }

  div > .icon-bg {
    width: 6.69vw;
    height: 6.69vw;
    left: 38.4%;
  }

  div > .icon-bg img {
    width: 3.6vw;
    height: 3.6vw;
  }

  .one {
    height: 68.98vw;
  }

  .two {
    height: 57.5vw;
  }

  .project-section > .project {
    margin-bottom: 80px;
  }

  .project-section > .project > .project-image {
    width: 19.03vw;
    height: 19.03vw;
  }

  .project-section > .project > .project-content {
    width: 45%;
  }

  .project-section > .project > .project-content .subtitle {
    font-size: 21px;
  }

  .project-section > .project > .project-content .body {
    font-size: 14px;
  }

  .project-section > .project > .project-content > a {
    font-size: 15px;
    padding: 0.5rem 0.75rem;
    border-radius: 3px;
  }

  .about-section {
    height: 82vw;
  }

  .about-section .about-grid .about-content {
    font-size: 15px;
    line-height: 1.55;
    width: 70%;
  }

  .about-section .about-grid .about-profile {
    width: 27.56vw;
    height: 35.43vw;
  }

  .about-section .education {
    margin: 25px 30px 0;
  }

  .about-section .education table caption {
    font-size: 20px;
  }

  .about-section .education table {
    font-size: 18px;
  }

  .about-section .education table th,
  .about-section .education table td {
    padding: 10px;
  }

  footer {
    height: 200px;
  }

  footer div:nth-child(1) img {
    width: 13vw;
    height: 3.76vw;
  }
}

@media screen and (max-width: 500px) {
  ::-webkit-scrollbar {
    width: 0;
  }

  header {
    height: 16.564vw;
  }

  header a .logo {
    height: 12.5vw;
    width: 20.833vw;
  }

  header nav,
  header .navbar-cta {
    display: none;
  }

  header nav {
    position: absolute;
    right: 79.16vw;
    top: 0px;
    padding-top: 7.708vw;
    padding-bottom: 7.708vw;
    border-radius: 10px;
    background-color: #151618;
  }

  header nav ul {
    flex-direction: column;
    gap: 10.416vw;
  }

  header nav ul li a {
    font-size: 18px;
  }

  header input {
    position: absolute;
    left: 2.1667vw;
  }

  header label {
    display: inline-block;
    position: absolute;
    left: 5.1667vw;
    filter: invert(1);
  }

  header label .before-checked {
    width: 4.1667vw;
    height: 4.1667vw;
  }

  header label .after-checked {
    display: none;
    width: 4.1667vw;
    height: 4.1667vw;
  }

  header input:checked ~ label {
    top: 2.083vw;
    left: 22.1667vw;
  }

  header input:checked ~ label img[class="before-checked"] {
    display: none;
  }

  header input:checked ~ label img[class="after-checked"] {
    display: block;
  }

  header input:checked ~ nav {
    display: block;
  }

  .hero .social-media {
    display: none;
  }

  .hero {
    grid-template-columns: 1fr;
    background-image: url(Assets/Images/Mobile\ background.png);
    background-position: top;
    background-attachment: scroll;
    height: 750px;
    background-color: #151618;
  }

  .hero .profile-content {
    place-self: center;
  }

  .hero .profile-content img {
    height: 400px;
    width: 400px;
    top: 1.041vw;
    left: 0;
  }

  .hero .main-content {
    place-self: center;
    position: relative;
    top: -20px;
  }

  .main-content p small {
    font-size: 12px;
  }

  .main-content p {
    text-align: center;
  }

  .main-content .call-to-action {
    flex-direction: column;
    justify-content: center;
    margin-left: 0px;
    margin-top: 8.333vw;
    gap: 4.1667vw;
  }

  section .title {
    font-size: 24px;
    margin-bottom: 16.6667vw;
  }

  .skills {
    height: 1675px;
  }

  .skills .skills-grid {
    flex-direction: column;
    gap: 5.6667vw;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
  }

  .skills-grid > div {
    width: 69.5vw;
    width: 80%;
    height: 450px;

    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
  }

  .skills-grid > div > .skill-icon {
    width: 12.5vw;
    height: 12.5vw;
    margin-top: 1rem;
  }

  .skills-grid > div .subtitle {
    margin: 6.6677vw 0;
  }

  .what-i-do {
    height: 1800px;
  }

  .what-i-do .wid-grid {
    flex-direction: column;
    gap: 16.6667vw;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
  }

  .wid-grid .card {
    width: 72.91667vw;
    height: 450px;
    padding: 6.6667vw;
    border-radius: 3.125vw;
  }

  div > .icon-bg {
    width: 14.583vw;
    height: 14.583vw;
    left: 40%;
    top: -35px;
  }

  div > .icon-bg img {
    width: 7.2916vw;
    height: 7.2916vw;
  }

  .wid-grid > div > .subtitle {
    margin-top: 4.1667vw;
    font-size: 20px;
  }

  .wid-grid > div > .body {
    margin: 1.6667vw;
    font-size: 16px;
  }

  .one {
    height: 1400px;
  }

  .two {
    height: 1350px;
  }

  .project-section > .project,
  .project-section #two,
  .project-section #four {
    flex-direction: column;
    align-items: center;
    gap: 12.5vw;
  }

  .project-section > .project > .project-image {
    width: 52.083vw;
    height: 52.083vw;
  }

  .project-section > .project > .project-content {
    width: 62.5vw;
  }

  .project-section > .project > .project-content .subtitle {
    margin-bottom: 2.9167vw;
  }

  .project-section > .project > .project-content > a {
    width: 100%;
    margin-top: 3.33vw;
    border-radius: 7px;
    display: flex;
    justify-content: center;
  }

  .about-section {
    height: 333%;
  }

  .about-section .about-grid {
    flex-direction: column-reverse;
  }

  .about-section .about-grid .about-profile {
    width: 62.5vw;
    height: 83.33vw;
  }

  .about-section .about-grid .about-content {
    width: 100%;
    font-size: 14px;
  }

  .about-section .education table caption {
    font-size: 16px;
  }

  .about-section .education table th,
  .about-section .education table tr {
    font-size: 14px;
  }

  .contactme-section form label {
    font-size: 16px;
    margin-left: 1.5rem;
  }

  .contactme-section form input,
  .contactme-section form textarea {
    font-size: 14px;
    margin-left: 1rem;
    width: 80%;
  }

  .contactme-section form button {
    font-size: 14px;
  }

  footer {
    height: 36.25vw;
  }

  footer div img[alt="Logo"] {
    height: 8.33vw;
    width: 20.833vw;
  }
}
